<!-- footer.html -->
<th:block th:fragment="footer">
        <footer class="py-5 bg-dark">
            <body>
            <hr>
            <div>
                <img src="/img/bottomlogo.png">
                <nav class="nav">
                    <a href="https://greenteapie.github.io" target="_blank">Blog</a>
                    |
                    <a href="https://github.com/GreenteaPIE" target="_blank">Github</a>
                </nav>
                <p>
                    <span>저자 : GreenteaPie</span><br/>
                    <span>이메일 : GreenteaPie2023@gmail.com</span><br/>
                    <span>Copyright 2023. GreenteaPie. All Right Reserved.</span>
                </p>
            </div>
        </footer>
</th:block>
