<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">
<head>
    <title>about Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f5f5f5;
            padding: 0;
            margin: 130px 0 0;
        }
    </style>
</head>
<body>
<h2>about page</h2>
<h4>모든 광고 수입금은 유기견 보호를 위한 기부금으로 사용될 예정입니다.<br>잃어버린 강아지들이 보호자를 찾고 모든 유기견들이 새로운 보호자들을 찾길바라며..</h4>
</body>
</html>
