<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Animal Data</title>
</head>
<body>
<h1>Animal Data</h1>
<div th:each="animal : ${animalDataList}">
    <div>
        <img th:src="${animal.imageUrl}" alt="Animal Image">
    </div>
    <div>
        <p>Breed: <span th:text="${animal.breed}"></span></p>
        <p>ID: <span th:text="${animal.id}"></span></p>
        <p>Sex: <span th:text="${animal.sex}"></span></p>
        <p>Location: <span th:text="${animal.location}"></span></p>
        <p>Characteristics: <span th:text="${animal.characteristics}"></span></p>
    </div>
</div>
</body>
</html>
