<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">
<head>
    <title>Login Page</title>
    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .login-buttons {
            text-align: center;
        }
        .login-buttons a {
            display: block;
            margin: 10px 0;
        }
    </style>
</head>
<body>
<div class="login-container">
    <div class="login-buttons">
        <div th:unless="${userName}">
            <a th:href="@{/oauth2/authorization/google}" role="button">
                <img src="img/web_neutral.png" alt="Google" style="height: 50px; width: 250px;">
            </a>
            <a th:href="@{/oauth2/authorization/naver}" role="button">
                <img src="img/btnG.png" alt="Naver" style="height: 50px; width: 250px;">
            </a>
        </div>

    </div>
</div>
</body>
</html>
