<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">
<body>
<div class="col-md-12">
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>분류</th>
            <th>NO</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종작성시간</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post : ${postsPages}">
            <td th:text="${post.kind}"></td>
            <td th:text="${post.id}"></td>
            <td><a th:href="@{/posts/detail/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${post.author}"></td>
            <td>
                <span th:if="${post.modifiedDate != null}" th:text="${#temporals.format(post.modifiedDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 네비게이션 -->
    <div th:if="${postsPages.totalPages > 1}">
        <!-- 첫번째 페이지로 이동 -->
        <a th:href="@{/posts/paging(page=1)}">첫 페이지 </a>

        <!-- 이전 링크 활성화 비활성화 -->
        <a th:href="${postsPages.first} ? '#' : @{/posts/paging(page=${postsPages.number})}"> 이전 </a>

        <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                for(int page=startPage; page<=endPage; page++)-->
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">

            <!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == postsPages.number + 1}" th:text="${page}"></span>
            <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == postsPages.number + 1}">
                <a th:href="@{/posts/paging(page=${page})}" th:text="${page}"></a>
            </span>
        </span>

        <!-- 다음 링크 활성화 비활성화 -->
        <a th:href="${postsPages.last} ? '#' : @{/posts/paging(page=${postsPages.number + 2})}"> 다음 </a>

        <!-- 마지막 페이지로 이동 -->
        <a th:href="@{/posts/paging(page=${postsPages.totalPages})}"> 마지막 페이지</a>
    </div>

    <div class="row">
        <div class="col-md-6" th:if="${userName == null}">
            <a th:href="@{/}" role="button" class="btn btn-primary" onclick="showLoginAlert(); return false;">글 등록</a>
        </div>
        <div class="col-md-6" th:if="${userName != null}">
            <a th:href="@{/posts/save}" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</div>
<script th:src="@{/js/app/index.js}"></script>
<script>
    function showLoginAlert() {
        alert("로그인이 필요합니다.");
    }
</script>
</body>
</html>
