<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
<section class="notice" style="margin-top: 40px;">
    <div class="page-title">
        <div class="container">
            <h3 th:text="${pageTitle}" style="text-align: left"></h3>
            <hr>
        </div>
    </div>

    <!-- 검색창 영역 -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form th:action="@{/posts/paging}" method="get">
                    <div class="search-wrap">
                        <input type="hidden" name="kind" th:value="${kind}"/> <!-- kind 파라미터 추가 -->
                        <label for="search" class="blind">내용 검색</label>
                        <input id="search" type="search" name="searchTitle" placeholder="검색할 제목을 입력해주세요." th:value="${searchTitle}">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 게시글 리스트 영역 -->
    <div id="board-list">
        <div class="container">
            <div class="table-container">
                <table class="board-table" th:if="${postsPages.totalElements > 0}">
                    <thead>
                    <tr>
                        <th scope="col">분류</th>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col" class="th-date">등록일</th>
                        <th scope="col">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${postsPages.content}">
                        <td th:text="${post.kind}"></td>
                        <td th:text="${post.id}"></td>
                        <th>
                            <a th:href="@{/posts/detail/{id}(id=${post.id})}" th:text="${post.title}"></a>
                        </th>
                        <td th:text="${post.author}"></td>
                        <td>
                            <span th:if="${post.modifiedDate != null}" th:text="${#temporals.format(post.modifiedDate, 'yyyy.MM.dd HH:mm')}"></span>
                        </td>
                        <td th:text="${post.status == 'L' ? '찾고 있어요.' : (post.status == 'F' ? '찾았어요.' : '')}"></td>
                    </tr>
                    </tbody>
                </table>
                <table class="board-table" th:if="${postsPages.totalElements == 0}">
                    <tr>
                        <td class="no-posts">게시글이 없습니다.</td>
                    </tr>
                </table>
            </div>
            <div class="write-button-container">
                <div th:if="${userName == null}">
                    <a th:href="@{/}" role="button" class="btn btn-custom" onclick="showLoginAlert(); return false;">글 등록</a>
                </div>
                <div th:if="${userName != null}">
                    <a th:href="@{/posts/save}" role="button" class="btn btn-custom">글 등록</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 페이징 버튼 -->
<div class="page_wrap" th:if="${postsPages.totalElements > 0}">
    <div class="page_nation">
        <a class="arrow pprev" th:href="@{/posts/paging?page=1(kind=${kind}, searchTitle=${searchTitle})}" th:classappend="${currentPage == 1} ? 'disabled'"></a>
        <a class="arrow prev" th:href="@{/posts/paging(page=${currentPage-1}, kind=${kind}, searchTitle=${searchTitle})}" th:classappend="${currentPage == 1} ? 'disabled'"></a>
        <a th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
           th:href="@{/posts/paging(page=${pageNum}, kind=${kind}, searchTitle=${searchTitle})}"
           th:text="${pageNum}"
           th:classappend="${currentPage == pageNum} ? 'active' : ''"></a>
        <a class="arrow next" th:href="@{/posts/paging(page=${currentPage+1}, kind=${kind}, searchTitle=${searchTitle})}" th:classappend="${currentPage == totalPages} ? 'disabled'"></a>
        <a class="arrow nnext" th:href="@{/posts/paging(page=${postsPages.totalPages}, kind=${kind}, searchTitle=${searchTitle})}" th:classappend="${currentPage == totalPages} ? 'disabled'"></a>
    </div>
</div>
<script>
    function showLoginAlert() {
        alert("로그인이 필요합니다.");
    }
</script>
</body>
</html>
