<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">
<head>
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .detail-view {
            width: 90%;
            margin: 20px auto;
        }
        .detail-view table {
            margin-bottom: 20px;
        }
        .detail-view img {
            max-width: 100%;
            height: auto;
        }
        #map {
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<div class="detail-view">
    <hr>
    <strong>
        <h2 th:text="${post.kind == '발견' ? '발견 제보' : (post.kind == '분실' ? '분실 제보' : '')}"></h2>
    </strong>
    <h2 th:text="${post.title}"></h2>
    <p><strong>작성자:</strong> <span th:text="${post.author}"></span></p>
    <p><strong>작성일자:</strong> <span th:if="${post.modifiedDate != null}" th:text="${#temporals.format(post.modifiedDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span></p>
    <hr>
    <h3>분실/발견 신고자 정보</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>분실/발견 신고자 이름</th>
            <td th:text="${post.content.reporterName}"></td>
            <th>연락처</th>
            <td th:text="${post.content.contact}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3>분실/발견 일시 및 장소</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>분실/발견 일자</th>
            <td th:text="${#temporals.format(post.content.lostDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
        </tr>
        <tr>
            <th>주위 대표건물</th>
            <td th:text="${post.content.landmark}"></td>
        </tr>
        </tbody>
    </table>
    <div id="map"></div> <!-- 지도 표시 -->
    <hr>
    <h3>분실/발견 동물 정보</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>품종</th>
            <td th:text="${post.content.breed}"></td>
            <th>이름</th>
            <td th:text="${post.content.pname}"></td>
        </tr>
        <tr>
            <th>성별</th>
            <td th:text="${post.content.gender}"></td>
            <th>나이</th>
            <td th:text="${post.content.age}"></td>
        </tr>
        <tr>
            <th>색상</th>
            <td th:text="${post.content.color}"></td>
            <th>내장칩 유무</th>
            <td th:text="${post.content.hasMicrochip ? '예' : '아니오'}"></td>
        </tr>
        <tr>
            <th>특징</th>
            <td colspan="3" th:text="${post.content.features}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <p>사진</p>
        <div th:each="image : ${post.images}">
            <img th:src="@{'/images/' + ${image.storedFileName}}" alt="Post Image" style="width: 250px; height: auto;"/>
        </div>
    </div>

    <!-- 버튼 -->
    <div class="btn-group">
        <a th:href="@{/posts/update/{id}(id=${post.id})}" th:if="${post.user_id == userId}" class="btn btn-primary">수정</a>
        <a href="/posts/paging" class="btn btn-secondary" role="button">목록으로</a>
    </div>
</div>
<script th:src="@{/js/app/index.js}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=54b2cd781663af1c76944546233135db"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng([[${post.content.latitude}]], [[${post.content.longitude}]]), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var markerPosition  = new kakao.maps.LatLng([[${post.content.latitude}]], [[${post.content.longitude}]]);

    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    marker.setMap(map);
    /*]]>*/
</script>
</body>
</html>
