<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" layout:fragment="content">

<body>

<div class="container mt-5">
    <h1 class="mb-4">분실된 강아지 찾기 게시판</h1>
    <div class="row">
        <div class="col-md-8">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <label for="kind">종류</label>
                    <select class="form-control" id="kind">
                        <option value="분실">분실</option>
                        <option value="발견">발견</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placeholder="견종-나이-특징-위치">
                </div>

                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" id="author" th:value="${userName}" readonly>
                </div>

                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content" placeholder="1. 지도 2. 견종 3. 나이 4. 특징 5. 시간 6. 견주 정보"></textarea>
                </div>

                <h1>분실위치</h1>
                <div id="map" style="width:100%;height:350px;"></div>
                <div class="form-group">
                    <label for="latitude">위도</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                </div>

                <div class="form-group">
                    <label for="longitude">경도</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                </div>
                <div class="form-group">
                    <label for="image">이미지 파일</label>
                    <input type="file" class="form-control-file" id="image" name="image" multiple>
                    <!-- 이미지 미리보기를 위한 div 추가 -->
                    <div id="image-preview"></div>
                </div>

                <a href="/" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/app/index.js}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=54b2cd781663af1c76944546233135db"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 현재 위치를 가져와 지도의 중심으로 설정하고 마커를 생성하는 함수입니다.
    function getCurrentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                var locPosition = new kakao.maps.LatLng(lat, lon); // 현재 위치를 좌표 객체로 생성

                // 지도 중심을 현재 위치로 이동합니다.
                map.setCenter(locPosition);

                // 사용자가 지도를 클릭하는 위치에 마커를 생성합니다.
                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                    var latlng = mouseEvent.latLng;

                    // 마커를 클릭한 위치로 이동합니다.
                    marker.setPosition(latlng);

                    // 위도와 경도 입력 필드에 값을 설정합니다.
                    document.getElementById('latitude').value = latlng.getLat();
                    document.getElementById('longitude').value = latlng.getLng();
                });

                // 현재 위치에 마커를 생성합니다.
                var marker = new kakao.maps.Marker({
                    position: locPosition,
                    map: map
                });

            }, function(error) {
                console.error("Geolocation error: ", error);
                alert('현재 위치를 가져올 수 없습니다. 위치 정보 사용을 허용해주세요.');
            }, {
                maximumAge: 0,
                timeout: 10000,
                enableHighAccuracy: true
            });
        } else {
            alert('이 브라우저에서는 Geolocation이 지원되지 않습니다.');
        }
    }

    // 페이지 로딩 시 현재 위치를 가져오도록 합니다.
    window.onload = function() {
        getCurrentLocation();
    };
</script>
<script>
    // 이미지 미리보기 기능
    $('#image').on('change', function(){
        var fileInput = this;
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#image-preview').html('<img src="' + e.target.result + '" class="img-fluid mt-3" />');
            }

            reader.readAsDataURL(fileInput.files[0]);
        }
    });
</script>
</body>
</html>
